<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Campus Event Registration App"
        android:supportsRtl="true"
        android:theme="@style/Theme.Practical_Work2">
        <provider
            android:name="com.example.EventContentProvider"
            android:authorities="com.example.practical_work2.provider"
            android:exported="true" />

        <!-- TODO: Declare RegistrationActivity and ConfirmationActivity -->
        <activity
            android:name=".RegistrationActivity"
            android:exported="false" />

        <activity
            android:name=".ConfirmationActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
